<h1>Listing ads</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date starts</th>
    <th>Date ends</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.name %></td>
    <td><%= ad.date_starts %></td>
    <td><%= ad.date_ends %></td>
    <td><%= ad.client.name %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
