<div style="min-height:160px;" ></div>

			<div style="margin-bottom:40px; padding:100px; border:1px solid #D9D9D9; width:90%; margin-left:50px;">
			
				<center><h4>Crie sua conta e explore cidades com o <strong style="color:black; font-weight:bold;">Traz Cupom</strong></h4></center>
				<br>
				<br>
				<br>
				<br>
					<% if @access_type == USER_TYPE %>
  					<center><h6>Conecte-se ao Traz Cupom usando sua conta do facebook, em 1 clique você ja estará cadastrado.</h6></center>
  					<center><%= link_to image_tag('/assets/images/facebook-login-button.png'), '/facebook/login', :class => "facebookConnect"  %>
  					</center>		
  					<center><p>Ou crie uma nova conta.</p></center>
  					
					<% end %>

					<div>
						<section>
							<p>
								<% flash.each do |key, value| %>
									<% vd('APP HTML', key, value, flash.count) %>
									<% if value.to_s == "Usuário ou Senha inválida!" && flash.count == 1 %>
										<strong><%= value %></strong>
									<% elsif value.to_s == "Favor logar no sistema" %>
										<strong>Ou faça login com seu e-mail.</strong>
									<% else %>
										<strong>Ou faça login com seu e-mail.</strong>
									<% end %>
								<% end %>
							</p>
							<%= form_for(:session, :url => sessions_path) do |f| %>
							<fieldset style="background:#DFDFDF;">

								<%= f.text_field :email, :placeholder => "E-mail", :style => "border:1px solid #1e3b62; border-radius:0px;" %>

								<%= f.password_field :password, :placeholder => "Senha", :style => "border:1px solid #1e3b62; border-radius:0px;" %>

								<%= hidden_field_tag :access_type, @access_type %>
							</fieldset>

							<div style="width:45%; float:left; background:#1e3b62; height:30px; padding:8px;"><center><%= link_to_submit content_tag(:span, "Login"), {:style => "color:white;"}, false %></center></div>

              <% if @access_type == USER_TYPE %>

			  <div style="width:45%; float:right; background:#1e3b62; height:30px; padding:8px;"><center>
              <%= link_to content_tag(:span, "Nova conta"), "/#{@access_type||'u'}/signup", :style => "color:white;" %></center></div>

              <% end %>

							<% end %>
							<br><br><br>
							<% if @access_type == PARTNER_TYPE %>
								<%= link_to "Esqueci minha senha", new_partner_password_reset_path, :class => "push-tab small-text" %>
							<% elsif @access_type == USER_TYPE %>
								<%= link_to "Esqueci minha senha", new_password_reset_path, :class => "push-tab small-text" %>
							<% end %>
						</section>
					</div>
				

			</div>
