<section id="submit_card_data">
	<%= hidden_field_tag :offer_id, offer.id %>
	<%= hidden_field_tag :user_id, current_user.id %>
	
	<p>Endereço de cobrança:</p>
	<fieldset>
		<%= text_field_tag :logradouro, nil, :placeholder => "Endereço" %>

		<%= text_field_tag :numero, nil, :placeholder => "Número" %>
		
		<%= text_field_tag :complemento, nil, :placeholder => "Complemento" %>
		
		<%= text_field_tag :bairro, nil, :placeholder => "Bairro" %>
		
		<%= text_field_tag :cidade, nil, :placeholder => "Cidade" %>
		
		<%= text_field_tag :estado, nil, :placeholder => "Estado (UF)" %>
		
		<%= text_field_tag :cep, nil, :placeholder => "CEP" %>
		
		<%= text_field_tag :telefone, nil, :placeholder => "Telefone Fixo" %>
	</fieldset>
	
	<p>Dados pessoais:</p>
	<fieldset>
		<%= label_tag "name"%>
		<%= text_field_tag :name, nil, :placeholder => "Nome Impresso no Cartão" %>
		<%= label_tag ":DataNascimento"%>
		<%= text_field_tag :DataNascimento, nil, :placeholder => "Data de nascimento" %>
		<%= label_tag ":Identidade"%>
		<%= text_field_tag :Identidade, nil, :placeholder => "CPF" %>
	</fieldset>

</section>