<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>TrazCupom - Seu cupom facilmente!</title>
</head>
<body>
  <div align="center">
    <table border="0" cellpadding="0" cellspacing="0" width="550" >
      <tr>
        <td colspan="5" height="42" align="center" style="color:#9c9c9c; font-size:9px; font-family:Verdana, Geneva, sans-serif;"></td>
        </tr>

        <tr>
          <td>
            <div width="550" height="186" style="background:#45A4DC;">
              <img width="350" height="250" src="http://www.trazcupom.com/assets/images/logo.png" style="display: block;margin:15px auto" border="0" alt="">
            </div>
          </td>
        </tr>

        <tr>
          <td bgcolor="#f9f9f9">
            <table border="0" cellpadding="0" cellspacing="0" width="468" align="center" style="font:14px Arial, sans-serif">
              <tr>
                <td>
                  <p><%= @user.name %>,</p>
                  <p>Você acaba de ganhar uma nova badge:</p>
                  <div>
                    <div align="center">
                      <%= image_tag("http://www.nowon.com.br/assets/"+@badge.has_badge_email(@user)+".png") %>
                      <br />
                      <span>
                       <%= @badge.name %>  
                     </span>
                   </div>
                   <br />
                   <span class="info-badge-text">
                    <%= @badge.description %>
                  </span>
                </div>

                <p>Acesse seu perfil e confira:</p>
                <p>http://www.nowon.com.br/users/<%= @user.id %></p>
              </td>
            </tr>
            <br /><br />
            <tr>
              <td>
                <small style="font-size:9px;text-align:center;margin-left:120px;"></small>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td valign="bottom">
          <!--<img width="550" height="100" src="https://lh4.googleusercontent.com/-mGPh4RSQoss/UI_1pICQL4I/AAAAAAAABAg/jhHWLXqNPBQ/s550/rodape.jpg" style="display: block;" border="0" alt="">-->
          <div background="http://www.nowon.com.br/assets/bg.png" style="background:url('http://www.nowon.com.br/assets/bg.png') repeat; width:550px; height:100px">
            <div style="width:260px;float:left;margin-right:90px;margin-left:40px;margin-top:28px;">
              <h1 style="font-family: Arial, Helvetica, 'Helvetica Neue', Verdana;font-size:16px; color:#FFF;margin:4px 0;">Acesse agora e aproveite!</h1>
              <span style="font-family: Arial, Helvetica, 'Helvetica Neue', Verdana;color:#FFF;font-size:11px;">Caso não deseje mais receber esse tipo de e-mail, <a style="color:orange;text-decoration:none" href='http://www.nowon.com.br/users/<%="#{@user.id}" %>/privacies'>clique</a> para cancelar o recebimento.</span>
            </div>
            <a href="http://www.nowon.com.br" style="display:block">
              <div background="http://www.nowon.com.br/assets/logo-email.png" style="http://www.nowon.com.br/assets/logo-email.png') no-repeat;width:90px;height:33px;float:left;margin-top: 33px;"></div></a>
            </div>
          </td>
        </tr>   

      </table>
    </div>
  </body>
  </html>