<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>NowOn - Colecione sabores!</title>
  <style type="text/css">
  .red{
    background: red;
  }
  </style>
</head>
<body>
  <div align="center">
    <table border="0" cellpadding="0" cellspacing="0" width="550" >
      <tr>
        <td colspan="5" height="42" align="center" style="color:#9c9c9c; font-size:9px; font-family:Verdana, Geneva, sans-serif;"></td>
      </tr>

      <tr>
        <td class="red" height="90">
          <img style="float:left;" width="200" src="https://lh4.googleusercontent.com/-7Loaw9MgAsY/UJj2NHpwADI/AAAAAAAABBE/LyRWP2EUUkM/s409/logo_offers.png" style="display: block;" border="0" alt="">
          <h1 style="display: block;float: right;">#<%= @cupon.cupon_code %> </h1>
        </td>
      </tr>
      <div style="border-bottom: 2px solid black"></div>
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="468" align="center" style="font:14px Arial, sans-serif">
            <tr>
              <td>
                <h2>Você acaba de comprar um novo voucher no Nowon!
                  Segue as informações:</h2>

                  <h3><%= @cupon.offer.partner.company_name %></h3>

                  <h3><%= @cupon.offer.resume %></h3>

                  <strong>Horário:</strong> <span><%= @cupon.offer.next_ocurrency %></span>
                  <br />

                  <strong>Regras:</strong>
                  <ul>
                   <% @rules.each do |rule| %>
                   <li><%= rule.resume_text @cupon.offer %> </li>
                   <% end %>
                   <li>A oferta não inclui taxa de serviço.</li>
                   <li>O voucher deverá ser utilizado hoje, no horário indicado acima.</li>
                   <li>Não haverá o reembolso do valor pago ao site em caso de não utilização do voucher.</li>
                   <li>Foto meramente ilustrativa.</li>
                   <li>Não é permitido cumular este desconto com outros descontos em uma mesma visita ao estabelecimento;</li>
                   <li>Os produtos ou o crédito ofertado deverão ser consumidos em uma única visita ao estabelecimento;</li>
                   <li>Não haverá a devolução de valores em caso de não consumação de todos os produtos ou crédito ofertado;</li>
                 </ul>

                 <strong>Endereço:</strong> <span><%= @cupon.offer.partner.address %></span>
                 <br />

                 <strong>Código:</strong> <span><%= @cupon.cupon_code %></span>
                 <br />

                 <strong>Dia da compra:</strong> <span><%=l @cupon.good_date, :format => :default %></span>
                 <br />
                 <br />
                 <br />
                 <small>Ao chegar ao estabelecimento, apresente seu voucher pelo seu smartphone ou impresso ao garçon. Se por qualquer motivo não for possível utilizar o seu voucher pelo celular ou apresentar o voucher impresso, informe ao garçon o código indicado acima para que o seu voucher possa ser validado!</small>
                 <br />
                 <br />
                 <strong>Veja suas compras:</strong>
                 <p>http://www.nowon.com.br/users/<%="#{@user.id}"%>/cupons</p>
               </td>
             </tr>
           </table>
         </td>
       </tr>

       <tr>
       </tr>   

     </table>
   </div>
 </body>
 </html>