<div id="comment-chat-body" >
	
	<div id="comment-chat-tx-area" <% if signed_in? USER_TYPE %>>
	<%= form_for Recommend.new, :remote => true do |f| %>
		<%= f.text_area :opinion, :rows => 3, :cols => 70 	 	%><br />
		<%= f.hidden_field :partner_id, :value => @partner.id %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<div class="but-submit">
		<%= f.submit "Enviar", :class => "title-box-shadow" %>
		</div>
	<% end %>
	</div>
	<% end %>
	
</div>
