<% if signed_in? ADMIN_TYPE %>
<% if !@partner.approved?%>
<h3><%= link_to 'Aprovar este parceiro!', :controller => "partners", :action => "approve", :id => @partner.id, :source => 'pshow' %></h3>
<% else %>
<h3>Parceiro aprovado!</h3>
<% end %>
<% end %>

<%= content_for :head do %>
	<meta property="fb:app_id" content="<%= FacebookAPI.app_id %>" />
	<meta property="og:type"   content="<%= FacebookAPI.app_namespace %>:partner" />
	<meta property="og:url"    content="<%= "#{root_url}partners/#{@partner.id}" %>" />
	<meta property="og:title"  content="<%= @partner.company_name %>" />
	<meta property="og:description"   content="<%= @partner.company_name %>" />
	<meta property="og:image"  content="<%= "#{root_url}#{@partner.pic(:perfil)}" %>" />
<%- end %>

<%= hidden_field_tag :get_location_callback, @location_callback %>
<%= hidden_field_tag :cached_location, @cached_location %>

<%= hidden_field_tag :partner_latlong, @partner.latitude.to_s + "|" + @partner.longitude.to_s %>
<%= hidden_field_tag :partner_name, @partner.name %>
<%= hidden_field_tag :user_latlong %>

<div id="main-container" class="scrollable view-profile-establishment">
	<div id="main" class="clearfix">
		<header class="wrapper">
			<div id="profile-image">
				<%= image_tag @partner.pic(:perfil) %>
			</div>
			<section id="personal-data">
				<p class="name">
					<%= @partner.company_name %>
				</p>
				<ul class="counter medium">
					<li class="count <%= get_category_icon(@partner) %>">
						<%= @partner.category.name %>
					</li>
					<li id="distance"></li>
      <!--<li class="count recommend">
						<%= @partner.recommendations_count %>
					</li>-->
				</ul>

			</section>
		</header>
		<div class="wrapper">
			<p>
				<%= @partner.description %>
			</p>
		</div>

		<ul class="profile-group">
			<li>
				<h3 class="custom-title">Recomendações</h3>
				<div class="wrapper">

					<div class="ui-box">
						<div class="col-10 to-left">
							<a href="#recommend" name="modal" class="recommend-link">
								<span class="recommend-menu"><%= @recommenders.count %></span>
							</a>
						</div>
						<div class="col-90 to-left">
							<a href="#recommend" name="modal">
								<ul class="users-pic-list push-tab">
									<% @recommenders.each do |recommend|%>
									<li>
										<%= image_tag recommend.user.pic(:thumb), :style => "height:29px; width:29px;" %>
									</li>
									<% end %>
								</ul> </a>
							</div>

							<div class="col-100 row to-left" >
								<div class="wrapper">
									<% if signed_in? USER_TYPE and @partner.not_recommended?(current_user) %>
									<%= link_to "Recomendar", n_rec_part_path(@partner), :class => "to-right"  %>
									<% elsif signed_in? USER_TYPE and @partner.recommended?(current_user) %>
									<%= link_to 'Deixar de Recomendar', "/partners/#{@partner.id}/recommend_partners/#{@partner.recommended?(current_user).id}/unrecommend", :class => "to-right" %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!--#Ofertas-->
				<li>
					<div class="wrapper">
						<h3 class="custom-title"><%= @offers.count.to_s + (@offers.count > 1 ? " ofertas ativas" : " oferta ativa" )%></h3>
						<ul class="clear-list ">

							<% @offers.each do |offer| %>
							<li class="ui-box ticket-box">
								<%= link_to "/offers/#{offer.id}", :class => "push-tab full" do %>
								<div class="thumb" style="float:left; margin-right:10px;">
							<%= image_tag offer.pic1.image.url(:thumb) unless offer.partner_pic1_id.nil? %>
						</div>
								<div class="col-95">
									<div class="wrapper medium-pad">
										<h3><%= @partner.company_name%></h3>
										<p>
											<%= offer.resume %>
										</p>
									</div>
								</div>
								<% end %>
							</li>
							<% end %>
						</ul>
					</div>
				</li>
				<!-- Fim #Ofertas-->

				<!-- #Fotos -->
				<li>
					<div class="clear-box">
						<h3 class="custom-title ic-pics">Fotos</h3>

						<ul id="Gallery" class="pic-gallery">
							<% @partner_partner_pics.each do |partner_pic|%>
							<li>
								<%= link_to (image_tag partner_pic.image.url(:thumb), :alt => partner_pic.image.name), partner_pic.image.url(:original) ,:class => "noeffect", :rel => "lightbox" %>
							</li>
							<% end %>
						</ul>
					</div>
				</li>
				<!-- Fim #Fotos -->

				<!-- #Funcionamento -->
				<li>
					<div class="clear-box">
						<h4>Horário de funcionamento</h4>
						<p>
							<%= @partner.working_schedule %>
						</p>
						<h4>Contato</h4>
						<p>
							<%= @partner.primary_phone + (@partner.secondary_phone != '' ? " - #{@partner.secondary_phone}" : '') %>
						</p>
						<p class="address">
							<%= @partner.site %>
						</p>
						<h4>Endereço</h4>
						<div class="to-left col-66">
							<p class="address to-left">
								<%= @partner.get_address %>
							</p>
						</div>
						<div id="map_canvas">
							<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@partner.latitude.to_s},#{@partner.longitude.to_s}&zoom=15&size=620x250&sensor=false&markers=#{@partner.latitude.to_s},#{@partner.longitude.to_s}"
							%>
						</div>
					</div>
				</li>
				<!-- Fim #Funcionamento -->

				<!--#Cardapio -->
				<li>
					<div class="wrapper">
						<h3 class="custom-title ic-menu">Produtos</h3>

						<ul id="toggle-menu" class="clear-list toggle-list">

							<%= render "product_type" %>

						</ul>
						<%= will_paginate @product_types %>
						<% if @product_types.total_entries > 3 %>
						<div class="load-more">
							<ul class="horizontal-menu">
								<li class="web">
									<div class="std-button">
										Ver Mais
									</div>
								</li>
							</ul>
						</div>
						<% end  %>


						<script type="text/javascript">
						$(document).ready(function(){
							$('.pagination').hide();
							initToggleList();
							$(".toggle-item .toggle-list").hide();
						})
						var flag = false;
						var click = true;
						$(document).on("click", ".toggle-item", function(){
							$(this).find(".toggle-list").slideToggle();
							if($(this).hasClass("opened")){
								$(this).removeClass("opened");
							}else{
								$(this).addClass("opened");
							}
						});
						$(document).on("touchstart", ".toggle-item", function(){
						    click = true;
						})
						$(document).on("touchmove", ".toggle-item", function(){
						    click = false;
						})
						$(document).on("touchend", ".toggle-item", function(){
						    if(click){
						    	$(this).find(".toggle-list").slideToggle();
						    	if($(this).hasClass("opened")){
						    		$(this).removeClass("opened");
						    	}else{
						    		$(this).addClass("opened");
						    	}
						    }
						});
						document.addEventListener('DOMContentLoaded', function(){

							var myPhotoSwipe = Code.PhotoSwipe.attach( window.document.querySelectorAll('#Gallery a'), { enableMouseWheel: false , enableKeyboard: false } );

						}, false);
						</script>

					</div>
				</li>
				<!-- Fim #Cardapio -->

			</ul>

			<div>

			</div>

		</div>
		<!-- #main -->
	</div>
	<!-- #main-container -->