<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product_family.name %>
</p>

<p>
  <b>Partner:</b>
  <%= @product_family.partner %>
</p>

<p>
  <b>Product type:</b>
  <%= @product_family.product_type %>
</p>


<%= link_to 'Edit', edit_product_family_path(@product_family) %> |
<%= link_to 'Back', product_families_path %>
