<p id="notice"><%= notice %></p>

<p>
  <b>Partner:</b>
  <%= @recommend.partner %>
</p>

<p>
  <b>User:</b>
  <%= @recommend.user %>
</p>

<p>
  <b>Comment:</b>
  <%= @recommend.opinion %>
</p>


<%= link_to 'Edit', edit_partner_recommend_path(@recommend) %> |
<%= link_to 'Back', partner_recommends_path %>
