<h1>Listing privacies</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Default</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @privacies.each do |privacy| %>
  <tr>
    <td><%= privacy.description %></td>
    <td><%= privacy.default %></td>
    <td><%= link_to 'Show', privacy %></td>
    <td><%= link_to 'Edit', edit_privacy_path(privacy) %></td>
    <td><%= link_to 'Destroy', privacy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Privacy', new_privacy_path %>
