<h1>Parceiros</h1>

<table>
  <tr>
    <th><%= t("partner.company_name")%></th>
    <th><%= t("partner.category")%></th>
    <th><%= t("partner.approved")%></th>
    <th></th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
    <td><%= partner.company_name %></td>
    <td><%= partner.category.name unless partner.category.nil? %></td>
    <td><%= partner.approved ? "Sim" : "Não" %> </td>
    <td><%= link_to 'Mostrar', partner %></td>
	<td>	
    <% if partner.approved == false %>
    	<%= link_to 'Aprovar', :controller => "partners", :action => "approve", :id => partner.id, :source => 'lp' %>
	<% else %>
		<%= link_to 'Desativar', :controller => "partners", :action => "deactivate", :id => partner.id %>
    <% end %>
	</td>
  </tr>
<% end %>
</table>

<br />