<%= form_for [@partner, @offer], :html => {:class => "new_offer", :name => "new_offer"} do |f| %>

<%= hidden_field_tag :partner_name, @partner.company_name %>

<%= f.hidden_field :partner_id, :value => @partner.id %>

<% if @offer.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@offer.errors.count, "erro") %> impediram que a oferta fosse salva:</h2>

	<ul>
		<% @offer.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="col1NovaOferta">
	<div class="boxPadrao boxNovaOferta">
		<h3 class="titBoxPadrao"> <%= @offer.new_record? ? "Crie sua nova Oferta" : "Edite sua Oferta" %></h3>
		<div class="containerBoxPadrao">
			<h4 class="subTituloBoxPadrao">Tipo de Oferta</h4>
			<div id="divErrorRadio" name="divErrorRadio"></div>
			<%= f.radio_button :ttype, product_offer, :class => "offer_ttype tipoOferta", :disabled => !(@offer.new_record?) %>
			<%= f.label t("offer.ttype.product") %>
			<%= f.radio_button :ttype, credit_offer, :class => "offer_ttype tipoOferta", :disabled => !(@offer.new_record?) %>
			<%= f.label t("offer.ttype.credit") %>

			<div>
				<div class="areaProdutos">
					<p class="textoDescricao">
						Esta opção oferece desconto em determinados produtos do cardápio. Procure oferecer combos de produtos que se harmonizam entre si para vender mais cupons e fazer mais sucesso. Defina o valor do crédito, adicione produtos a partir do cardápio, escolha o desconto e as regras que se aplicam a oferta, carregue uma foto destaque, defina o horário de validade da oferta e escolha os dias da semana em que deseja ativá-la.
					</p>
					<%= render :partial => 'products'%>
				</div>

				<div class="areaCreditos">
					<p class="textoDescricao">
						Esta opção oferece desconto no valor total dos produtos a serem consumidos pelos clientes. As ofertas de crédito fazem sucesso porque permitem a escolha de produtos pelos clientes. Defina o valor do crédito, escolha o desconto e as regras que se aplicam a oferta, carregue uma foto, defina o horário de validade da oferta e os dias da semana em que deseja ativá-la.
					</p>
				</div>
				<div class="areaCreditosPorcentagem">
					<p class="textoDescricao">
						Esta opção oferece desconto no valor total dos produtos a serem consumidos pelos clientes. Defina a porcentagem de desconto total nas compras em qualquer valor.
					</p>
				</div>

				<%= render :partial => 'price_and_discount', :locals => {:f => f}%>
			</div>
		</div>
	</div>
	<div class="boxPadrao boxcondicoes">
		<h3 class="titBoxPadrao">Defina as condições</h3>
		<div class="containerBoxPadrao">
			<h4 class="subTituloBoxPadrao">Descreva destaques e restrições da sua oferta</h4>

			<p class="introOferta">
				Se houver, cite diferenciais dos produtos ofertados, como modo de preparo específico, fornecedor especial, etc.
				Se não achar a regra desejada abaixo, informe a nova condição ou restrição.
				Destine uma linha para cada destaque ou restrição indicada.
			</p>

			<%= f.text_area :description, :id => "destaqueoferta", :class => "destaqueOferta" %>

			<%= render :partial => 'rules', :locals => {:f => f}%>


		</div>
	</div>

	<div class="boxPadrao">
		<h3 class="titBoxPadrao">Agende sua Oferta</h3>
		<div class="containerBoxPadrao">
			<p class="introOferta">
				Defina uma data para o início da oferta, o horário e os dias da semana em que deseja divulgar a oferta.
			</p>
			<%= render :partial => 'program', :locals => {:f => f}%>
		</div>
		<div id="divError" name="divError"></div>
	</div>
	<div class="boxPadrao">
		<h3 class="titBoxPadrao">Adicione uma foto</h3>
		<div class="containerBoxPadrao">
			<%= render 'partner_pics/pics_grid'%>
		</div>
	</div>
</div>

<div class="col2NovaOferta" id="boxNovaOferta">
	<div class="boxControleScroll">
		<div class="boxPadrao boxDescOferta">
			<div class="boxImagemOferta" id="boxImagemOferta">
				<!-- <img class="fotoOferta" alt="Foto da oferta" src="/assets/fotoOferta.jpg"> -->
				<% if @pics.nil? %>
				<div class="boxImagemVazia"></div>
				<% else %>
				<%= image_tag @pics.image.url(:banner), :class => "fotoOferta" %>
				<% end %>
			</div>
			<div class="containerBoxPadrao">
				<p class="resultadoInfoOferta"></p>
				<p class="resumoDataHorario iconTempo">
					<span class="1">Dom,</span> <span class="2">Seg,</span> <span class="3">Ter,</span> <span class="4">Qua,</span> <span class="5">Qui,</span> <span class="6">Sex,</span> <span class="7">Sab,</span> de <span class="horaInicio">14:00</span> às <span class="horaFim">15:00</span>
				</p>
				<ul>
					<li id="txtdestaqueoferta"></li>
					<div id="product_rules_resume">
						<% if @products_rules %>
						<% @products_rules.each do |rule| %>
						<li id="rule_resume_<%= rule.id %>" class="rules_resume"><%= rule.resume %></li>
						<% end %>
						<% end %>
					</div>

					<div id="credit_rules_resume">
						<% if @credit_rules %>
						<% @credit_rules.each do |rule| %>
						<li id="rule_resume_<%= rule.id %>" class="rules_resume"><%= rule.resume %></li>
						<% end %>
						<% end %>
					</div>
				</ul>
			</div>
		</div>
		<%= submit_offer_id ".new_offer", "Cadastrar Oferta", :class => "padraoBtn btnSalvarNovaOferta" %>
	</div>
</div>
<% end %>



<div style="display:none;">
	<div class="boxPadrao" id="listaProdutos">
		<input type="hidden"  id="nomeLocal" value="Restaurante DNA"/>
		<h3 class="titBoxPadrao">Escolha um item dos Produtos que deseja adicionar a oferta</h3>
		<div class="adicaoSucesso">Incluido na pré visualização.</div>

		<% if @products.nil? || @products.empty? %>
		<div>Nenhum produto cadastrado</div>
		<% else %>
		<% @products.each do |product| %>
		<div class="itemListaProduto">
			<div class="infoListaProduto">
				<p class="nomeProduto"><%= product.name %></p>
				<p class="precoProduto" data-preco="<%= product.price %>" data-id="<%= product.id %>"><%= number_to_currency(product.price)%></p>
			</div>
			<a href="javascript:void(0);" class="padraoBtn btnAdicionarProduto">Adicionar</a>
		</div>
		<% end %>
		<% end %>

	</div>

</div>

<script type="text/javascript">
$().ready(function(){
	$('.new_offer').on('submit', function(){
		val_price = $('#price_field').val()
		if ( val_price == 0 ){
			var ok3 = false;
		}

		if(ok3 == false){
			alert('O preço deve ser maior que 0');
			return false;
		}

		if ($('#offer_time_ends_4i').val() < $('#offer_time_starts_4i').val() || $('#offer_time_ends_4i').val() <= $('#offer_time_starts_4i').val()){
			var ok2 = false
		}
		if(ok2 == false){
			alert('A oferta deve durar no mínimo 1 hora.');
			return false;
		}

		var checks = $('.boxDiasSemanaOferta input[type="checkbox"]');
		for (var i = 0; i < checks.length; i++) {
			if($(checks[i]).attr('checked')){
				var ok = true;
				break;
			}else{
				var ok = false;
			}
		}
		document.new_offer.submit();
	});
});
</script>