<%= content_tag_for :li, offer, :class => "cupom" do %>

	<%= link_to "/offers/#{offer.id}" do %>
		<header>
			<div class="trend"><%= offer.next_ocurrency %></div>
			<div class="thumb">
				<%= image_tag offer.pic1.image.url(:banner) unless offer.partner_pic1_id.nil? %>
			</div>
		</header>
		<div class="info-group">
		<h3><%= offer.partner.name%></h3>
		<p><%= offer.resume %></p>

		<ul class="cupom-info">
			<li class="use-time"><%= offer.next_ocurrency %></li>
			<li><%= offer[:temp_distance] %> Km</li>
			<li><%= cupons_last offer%></li>
		</ul>
		</div>
	<% end %>
<% end %>