<%= f.hidden_field :recurrence %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
    $('.boxDiasSemanaOferta input').attr('checked', 'checked')
  });
  </script>
<div class="boxdataInicioOferta">
	<h4 class="subTituloBoxPadrao">Oferta inicia em</h4>
	<%= f.text_field :start_date, :class =>"datepicker" %>
	<h4 class="subTituloBoxPadrao">e oferta termina em</h4>
	<%= f.text_field :end_date, :class =>"datepicker" %>							
</div>

<div class="boxHorarioOferta">
	<h4 class="subTituloBoxPadrao">Horário</h4>		
	<%= f.time_select :time_starts, :minute_step => 15 %>
	<span>às</span>
	<%= f.time_select :time_ends, :minute_step => 15 %>
</div>

<div class="boxDiasSemanaOferta">
	<h4 class="subTituloBoxPadrao">Dias da Semana</h4>
	
	<% unless @days.nil? %>
		<%@days.each_with_index do |choise, index| %>
			<%= check_box_tag "selected_days[]", index+1, (checked = true if choise != '0') %><%= t("form.abbr_day_names.day#{index+1}") %>
		<% end %>
	<% end %>
</div>