<!--
<%= form_tag  @offer, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :description => nil %>
  </p>
<% end %>
-->
<div id="main-container" class="scrollable internal view-nowon">
		<div id="main" class="clearfix">
			
			<article>
				<% unless @gps %>
					<%= link_to root_path, :class => "no-decoration" do %>
					<div id="warning-home-show">
						Para atualizar sua localização clique aqui.
					</div>
					<% end %>
					<%= hidden_field_tag :request_location, @request_location %>
				<% end %>
				
				<%= hidden_field_tag :get_location_callback, @location_callback %>
				<%= hidden_field_tag :user_latlong, @user_latlong %>
				<div class="offers-items">
					<% if @searched_offers %>
						<%= render @searched_offers, :locals => { :list => true }  %>
					<% else %>
						<% if @now_offers.size > 0 %>
							<!-- User Agora -->
							<%= render "use_now" %>
							<%= render "not_use_now" %>
						<% else %>
							<span style="width: 95.8%;display: block;" id="warning-home-show">
								Ainda não temos ofertas cadastradas para essa cidade.
							</span>
						<% end %>
					<% end %>
				</div>
				
				<div class="clearfix"></div>
			</article>
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->