<!--
<%= form_tag  @offer, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :description => nil %>
  </p>
<% end %>
-->


	<div id="main-container" class="scrollable internal view-nowon">
		<div id="main" class="clearfix">

			<article>
				<% if params[:no_location] %>
					<%= link_to get_location_before_link({controller: "offers", action: "nowon"}), :class => "no-decoration" do %>
					<div id="warning-home-show">
						<%= "Desculpe, não temos como encontrar os parceiros mais próximos sem saber onde você está. Atualize sua localização clicando aqui!" %>
					</div>
					<% end %>
				<% elsif !@gps %>
					<%= hidden_field_tag :request_location, @request_location %>
					<%= hidden_field_tag :get_location_callback, @location_callback %>
					<script type="text/javascript">
						m_startDate = new Date().getTime();
						m_watchId = navigator.geolocation.watchPosition(get_location_callback,
							get_location_error,
							{maximumAge:0, timeout:3000, enableHighAccuracy:true});

						m_interval = setTimeout(function(){clearWatch()},7000);
					</script>
				<% end %>
				<%= hidden_field_tag :user_latlong, @user_latlong %>
				<div class="offers-items">
					<% if @searched_offers %>
						<%= render @searched_offers, :locals => { :list => true }  %>
					<% else %>

						<!-- User Agora -->
						<%= render "use_now" %>


						<%= render "not_use_now" %>

					<% end %>
				</div>

				<div class="clearfix"></div>
			</article>

		</div> <!-- #main -->
	</div> <!-- #main-container -->
<% end %>