<!--
<%= form_tag  @offer, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :description => nil %>
  </p>
<% end %>
-->


	<div id="main-container" class="scrollable internal view-nowon">
		<div id="main" class="clearfix">
			
			<article>
				<% if params[:no_location] %>
					<%= link_to get_location_before_link({controller: "offers", action: "nowon"}), :class => "no-decoration" do %>
					<div id="warning-home-show">
						<%= "Desculpe, não temos como encontrar os parceiros mais próximos sem saber onde você está. Atualize sua localização clicando aqui!" %>
					</div>
					<% end %>
				<% elsif !@gps %>
					<%= hidden_field_tag :request_location, @request_location %>
					<%= hidden_field_tag :get_location_callback, @location_callback %>
					<script type="text/javascript">
						m_startDate = new Date().getTime();
						m_watchId = navigator.geolocation.watchPosition(get_location_callback, 
							get_location_error, 
							{maximumAge:0, timeout:3000, enableHighAccuracy:true});
						
						m_interval = setTimeout(function(){clearWatch()},7000);
					</script>
				<% end %>
				<%= hidden_field_tag :user_latlong, @user_latlong %>
				<div class="offers-items">
					<% if @searched_offers %>
						<%= render @searched_offers, :locals => { :list => true }  %>
					<% else %>

						<!-- User Agora -->
						<%= render "use_now" %>

						<!-- Use Mais Tarde -->
						<% unless @now_offers.next_page %>
							<h4 class="section-title not-use-now">Use mais tarde</h4>		
							<%= render "not_use_now" %>
						<% end %>
					<% end %>
				</div>
				<%= will_paginate @now_offers, :param_name => 'now_offers', :class => 'pagination_now_offers'%>
				<%= will_paginate @not_now_offers, :param_name => 'not_now_offers', :class => 'pagination_not_now_offers' %>
				<div class="clearfix"></div>
			</article>
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<% if browser.name == 'Safari' %>
		<!-- #personalize sua janela modal aqui -->
		<div id="homescreen-alert" class="mobile">
			<a href="#" class="close close-homescreen">Fechar [X]</a>
			<div class="homescreen-text-inside">
				Quer ter acesso a mais conteúdo
				<br>
				e destaques no Nowon?
				<br>
				Toque no botão abaixo e
				<span>Adicione a Tela de Início</span>
			</div>
		</div>
	<% end %>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".pagination_now_offers").hide();
			$(".pagination_not_now_offers").hide();
			//Aqui comecao a implementacao do endlesspage
		  	if ($('.pagination_now_offers').length) {
			    $(window).bind("scroll", function() {
				      var url;
				      url = $('.pagination_now_offers .next_page').attr('data-href');
				      if(url === undefined) url = $('.pagination_now_offers .next_page').attr('href');
				      if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 380) {
				        //$('.pagination_now_offers').show().html("<div class='loader-products'></div>");
				        $.ajaxSetup({ cache: true });
				        ret = $.getScript(url, function(){
				         	$('.pagination_now_offers').hide();
					      	$("#header-container a, .round a").each(function(i){
					      		ajaxlinkbuilder($(this));
					      	})
				        });
				        return ret;
			      	}
			    });
		  	}
		})
	</script>
	<%= content_for :extra_scripts do %>
	$('.pagination_now_offers').hide();
	$('.pagination_not_now_offers').hide();
	$(window).unbind("scroll");
	//Aqui comecao a implementacao do endlesspage
  	if ($('.pagination_now_offers').length) {
	  	var paginating = false;
	    $(window).bind("scroll", function() {
		      var url;
		      url = $('.pagination_now_offers .next_page').attr('data-href');
		      if(url === undefined) url = $('.pagination_now_offers .next_page').attr('href');
		      if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 380) {
		      	paginating = true;
		        $('.pagination_now_offers').show().html("<div class='loader-products'></div>");
		        $.ajaxSetup({ cache: true });
		        ret = $.getScript(url, function(){
		         	$('.pagination_now_offers').hide();
		      		paginating = false;
			      	$("#header-container a, .round a").each(function(i){
			      		ajaxlinkbuilder($(this));
			      	})
		        });
		        return ret;
	      	}
	    });
  	}
  	if ($('.pagination_not_now_offers').length) {
	  	var paginating = false;
	    $(window).bind("scroll", function() {
	      	var url;
	      	url = $('.pagination_not_now_offers .next_page').attr('data-href');
	      	if(url === undefined) url = $('.pagination_not_now_offers .next_page').attr('href');
	      	if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 380) {
	      		paginating = true;
	        	$('.pagination_not_now_offers').show().html("<div class='loader-products'></div>");
	        	$.ajaxSetup({ cache: true });
	        	ret = $.getScript(url, function(){
	          		$('.pagination_not_now_offers').hide();
	      			paginating = false;
	      			$("#header-container a, .round a").each(function(i){
	      				ajaxlinkbuilder($(this));
	      			})
	        	});
	        	return ret;
	      	}
	    });
	}
	<% end %>