<div id="main-container" class="scrollable clear-padding view-purchase view-cupom">
	<div id="main" class="clearfix clear-padding">
			<section class="opened-cupom">
				<header>
					<div class="thumb">
						<%= image_tag @offer.pic1.image.url(:banner_big) unless @offer.partner_pic1_id.nil? %>
					</div>
				</header>

				<div class="wrapper">
					<h3><%= @partner.name %></h3>

				<% if @offer.id == 46 %>
				<h3><%= "30% de desconto na lavagem e limpeza a seco em peças de couro" %></h3>
				<% else %>
				<h3><%= @offer.resume %></h3>
				<% end %>

					<ul class="cupom-info">
						<li><%=l @offer.end_date, :format => :default %></li>
					</ul>

				</div>
			</section>

			<ul class="values-list">
				<% unless @user_credits.empty? %>
  				<li class="value-credit">
  					<%= link_to "/users/#{@current_user.id}/credits" do %>
    					<div class="local col-50">
    						<p>Crédito</p>
    					</div>
    					<div class="value">
    						<span><%= number_to_currency @credit_value %></span>
    					</div>
  					<% end %>
  				</li>
				<% end %>
				<li class="value-nowon">
					<div class="local col-50">
						<p>Pague no estabelecimento</p>
					</div>
					<div class="value">
						<span class="ticket"><%= number_to_currency @offer.price %></span>
					</div>
				</li>
				<li class="value-total">
					<div class="local col-50">
						<p>Total</p>
					</div>
					<div class="value col-50">
						<span><%= number_to_currency @offer.price %></span>
					</div>
				</li>
		</ul>
	</div> <!-- #main -->
</div> <!-- #main-container -->

<div id="bottom-bar" class="dark-background small">
	<% if @offer.ja_comprou? @current_user %>
		<div class="wrapper">
			<%= form_tag :controller => "cupons", :action => "confirm_printed" do %>
		  	<%= hidden_field_tag :offer_id, @offer.id %>
		  	<%= hidden_field_tag :user_id, @current_user.id %>
		  	<%= link_to_submit_pay content_tag(:span, "Baixar"), :class => "std-button bt-bigsize" %>
		  <% end %>
		</div>
	<%end%>
</div>
