<%= content_for :head do %>
	<meta property="fb:app_id" content="<%= FacebookAPI.app_id %>" />
	<meta property="og:type"   content="<%= FacebookAPI.app_namespace %>:offer" />
	<meta property="og:url"    content="<%= "#{root_url}offers/#{@offer.id}" %>" />
	<meta property="og:title"  content="<%= @offer.company_name %>" />
	<meta property="og:description"   content="<%= @offer.resume %>" />
	<meta property="og:image"  content="<%= "#{root_url}#{@partner.pic(:perfil)}" %>" />
<% end %>


<%= hidden_field_tag :get_location_callback, @location_callback %>
<%= hidden_field_tag :cached_location, @cached_location %>

<%= hidden_field_tag :partner_latlong, @partner.latitude.to_s + "|" + @partner.longitude.to_s %>
<%= hidden_field_tag :partner_name, @partner.name %>
<%= hidden_field_tag :user_latlong %>

<div id="main-container" class="scrollable clear-padding view-cupom">
	<div id="main" class="clearfix">

			<section class="opened-cupom">
					<header>
						<div class="trend">
							<%= @offer.next_ocurrency %>
						</div>
						<div class="thumb">
							<%= image_tag @offer.pic1.image.url(:banner_big) unless @offer.partner_pic1_id.nil? %>
						</div>
					</header>
					<div class="wrapper">
            <div class="desconto_porcentagem">
              <span><%= @offer.porcentagen_de_desconto %>% OFF NA SUA CONTA </span>
              <a style="margin:5px auto 0; display:block;" class="button-info" id="share-button" href="#" title="Facebook Share Button">
              	Compartilhar
              </a>
            </div>
						<h3><%= @offer.resume %></h3>
						</a>

						<ul class="cupom-info">
							<li><%= @offer.next_ocurrency %>&nbsp;</li>
							<li><span id="distance"></span></li>
							<li><%= cupons_last @offer%></li>
						</ul>

						<ul>
							<% if !@offer.description.nil? && @offer.description != "" %>
							<li>
								<%= @offer.description %>
							</li>
							<% end %>
							<% @rules.each do |rule| %>
								<li>
									<%= rule.resume_text @offer unless (rule.get_offer_rule @offer) == nil %>
									<!-- rule.description %> |
									< text_rule_value rule.ttype, (offer_rule_value (@offer.id.nil? ? nil : @offer), rule) -->
								</li>
							<% end %>
							
						</ul>
					</div>

			<% unless @offer.is_credit_offer? || @offer.is_percent_offer? %>
				<section class="group">
					<div class="wrapper_ntr">
						<h4>Produtos inclusos</h4>
						<% @products.each do |product| %>
							<h5><%= product.name %></h5>
							<p class="sub-text"><%= product.description %></p>
						<% end %>
					</div>
				</section>
      <% else %>
        <section class="group">
          <div class="wrapper_ntr">
            <span>Essa é uma oferta de credito, não possui produtos.</span>
          </div>
        </section>
			<% end %>

			<section class="group">
				<div class="wrapper_ntr">
					<h3 class="title"><%= @partner.name %></h3>
					<div id="profile-image" style="margin-bottom:10px;margin-right:10px;">
						<%= image_tag @partner.pic(:perfil) %>
					</div>
					<h4>Endereço</h4>
					<div class="to-left col-66">
						<p class="address to-left"><%= @partner.get_address %></p>
					</div>
					<div class="to-right col-34">
						<%= link_to "Ver perfil", partner_path(@partner), :class => "button-info to-right" %>
					</div>

					<div id="map_canvas">
						<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@partner.latitude.to_s},#{@partner.longitude.to_s}&zoom=15&size=620x250&sensor=false&markers=#{@partner.latitude.to_s},#{@partner.longitude.to_s}"
							%>
					</div>
				</div>
			</section>
    </section>
	</div> <!-- #main -->
</div> <!-- #main-container -->

<div id="bottom-bar" class="dark-background">
	<div class="wrapper_ntr">
		<% unless mobile_device? %>
			<p class="highlights">
				<%= @offer.resume %>
			</p>
		<% end %>
		<% ja_comprou = @offer.ja_comprou?(current_user) if current_user %>
		<% if @offer.is_today? && !@offer.is_full? && !@offer.paused && (user_type == USER_TYPE || current_user.nil? ) && @offer.active %>
	  		<%= link_to content_tag(:span, "Pegar cupom"), {:controller => "offers", :action => "payment_info"}, :class => "std-button bt-bigsize" %>
	  	<% elsif @partner_user &&  !@offer.active %>
	  		<%= link_to content_tag(:span, "Editar oferta"), [:edit, @partner_user, @offer], :class => "padraoBtn", :title => "Editar oferta", :class => "std-button bt-bigsize" %>
	  	<% end %>
		<span class="highlights use-time"><%= @offer.next_ocurrency %></span>
	</div>
</div>
<%= content_for :footer_foo do %>
	<script type="text/javascript">

		window.fbAsyncInit = function () {
			FB.init({
				appId  : '<%= FacebookAPI.app_id %>',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml  : true,  // parse XFBML
				oauth  : true // enable OAuth 2.0
			});
		};
		var el = document.getElementById('share-button');
		el.onclick = function (e) {
			e.preventDefault();
			FB.ui({
				method: 'feed',
				name: '<%= @partner.name %>',
				link: '<%= "#{root_url}offers/#{@offer.id}" %>',
				picture: '<%= "#{root_url}#{@partner.pic(:perfil)}" %>',
				caption: '<%= @offer.resume %>'
			});
		}
	</script>
<% end %>