<h1>Listing rec_partner_comments</h1>

<table>
  <tr>
    <th>Recommend partner</th>
    <th>User</th>
    <th>Opinion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rec_partner_comments.each do |rec_partner_comment| %>
  <tr>
    <td><%= rec_partner_comment.recommend_partner %></td>
    <td><%= rec_partner_comment.user %></td>
    <td><%= rec_partner_comment.opinion %></td>
    <td><%= link_to 'Show', rec_partner_comment %></td>
    <td><%= link_to 'Edit', edit_rec_partner_comment_path(rec_partner_comment) %></td>
    <td><%= link_to 'Destroy', rec_partner_comment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rec partner comment', new_rec_partner_comment_path %>
